@import url("https://fonts.googleapis.com/css?family=Lato|Raleway:300,400");
body {
  overflow: hidden;
  max-width: 100%;
}

.container.horizontal-accordion {
  position: relative;
  background: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
}

.container.horizontal-accordion .App {
  font-family: 'Lato', sans-serif;
  width: 95%;
  height: 100vh;
}

.container.horizontal-accordion .App .title-wrap {
  margin: 2% 0;
}

.container.horizontal-accordion .App .title-wrap h1 {
  text-align: center;
  color: #b2b2b2;
}

.container.horizontal-accordion .App .box {
  /*width: 100%;*/
  background: #222222;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20vh;
}

.container.horizontal-accordion .App .box .Tile {
  width: auto;
  height: 500px;
  margin: 2px;
  color: white;
  /*overflow: hidden;*/
  opacity: 0.9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  /*&:nth-child(1) {
          background: coral;
        }

        &:nth-child(2) {
          background: #00fff699;
        }

        &:nth-child(3) {
          background: #ff50f878;
        }

        &:nth-child(4) {
          background: #5064ff80;
        }

        &:nth-child(5) {
          background: coral;
        }*/
}

.container.horizontal-accordion .App .box .Tile .info-reveal {
  width: 250px;
  -webkit-transform: translate(270px, 50px);
          transform: translate(270px, 50px);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  z-index: 12;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  display: none;
}

.container.horizontal-accordion .App .box .Tile .info-reveal > div > b {
  font-size: 120%;
}

.container.horizontal-accordion .App .box .Tile .info-reveal .title {
  font-size: 3em;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  opacity: 0;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  margin-bottom: 20px;
}

.container.horizontal-accordion .App .box .Tile .info-reveal .description {
  opacity: 0;
  -webkit-transform: translate(50px, 0);
          transform: translate(50px, 0);
  font-size: 90%;
}

.container.horizontal-accordion .App .box .Tile .info-reveal .description > div.info {
  margin-bottom: 30px;
  color: #b2b2b2;
}

.container.horizontal-accordion .App .box .Tile .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile .img-container .img {
  width: calc(18.5vw - 9px);
  height: 500px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='false'] {
  opacity: 0.75;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='false']:hover {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='false']:hover .title-bottom {
  opacity: 1;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='center'] {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1.1, 1.1);
          transform: translate3d(0, 0, 0) scale(1.1, 1.1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='center'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='center'] .img-container .img {
  width: 500px;
  height: 500px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='last'] {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(-80%, 0, 0) scale(1.1, 1.1);
          transform: translate3d(-80%, 0, 0) scale(1.1, 1.1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='last'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='last'] .img-container .img {
  width: 500px;
  height: 500px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='2ndlast'] {
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
          transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='2ndlast'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='2ndlast'] .img-container .img {
  width: 500px;
  height: 500px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='right'] {
  opacity: 0.25;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='right'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='right-last'] {
  opacity: 0.25;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='right-last'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left'] {
  opacity: 0.25;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-last'] {
  opacity: 0.25;
  -webkit-transform: translate3d(-250%, 0, 0);
          transform: translate3d(-250%, 0, 0);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-last'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-2ndlast'] {
  opacity: 0.25;
  -webkit-transform: translate3d(-250%, 0, 0);
          transform: translate3d(-250%, 0, 0);
}

.container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-2ndlast'] .img-container {
  opacity: 1;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
          transform: translate3d(0, 0, 0) scale(1, 1);
}

.container.horizontal-accordion .App .box .Tile .title-bottom {
  border-top: 1px solid #767676;
  margin-top: 20px;
  font-size: 120%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  opacity: 0.5;
}

.container.horizontal-accordion .App .box .Tile .title-bottom > span {
  color: #e4e4e4;
}

.container.horizontal-accordion .App .box .Tile.Tile[is_active='true'] .info-reveal {
  opacity: 1;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  display: block;
}

.container.horizontal-accordion .App .box .Tile.Tile[is_active='true'] .info-reveal .title {
  -webkit-transform: translate(-100px);
          transform: translate(-100px);
  opacity: 1;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.container.horizontal-accordion .App .box .Tile.Tile[is_active='true'] .info-reveal .description {
  opacity: 1;
  -webkit-transform: translate(0px, 0);
          transform: translate(0px, 0);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 200px;
}

.container.horizontal-accordion .App .box .Tile.Tile[is_active='true'] .title-bottom {
  opacity: 0;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.container.horizontal-accordion .App .box .Tile.Tile[is_active='false'][is_focus='true'] .title-bottom {
  opacity: 0;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.container.horizontal-accordion button {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.container.horizontal-accordion ul,
.container.horizontal-accordion p {
  color: coral;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row div {
  background: coral;
}

.row .col-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.row .col-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.row .col-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media only screen and (max-width: 1440px) {
  .container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='2ndlast'] {
    -webkit-transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
            transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
  }
  .container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='right-last'] {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-last'] {
    -webkit-transform: translate3d(-300%, 0, 0);
            transform: translate3d(-300%, 0, 0);
  }
  .container.horizontal-accordion .App .box .Tile[is_active='false'][is_focus='true'][direction='left-2ndlast'] {
    -webkit-transform: translate3d(-250%, 0, 0);
            transform: translate3d(-250%, 0, 0);
  }
  .container.horizontal-accordion .App .box .Tile[is_active='true'][is_focus='true'][direction='last'] {
    -webkit-transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
            transform: translate3d(-100%, 0, 0) scale(1.1, 1.1);
  }
}

/*.box {
  width: 100%;
  height: auto;
  border: 1px solid coral;
  background: $dark;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .Tile {
    width: 16vw;
    height: 40vw;
    margin: 0.45vh;
    background: coral;
    color: white;
    overflow: hidden;

    img {
      height: 100%;
      width: auto;
      min-width: 100%;
      margin-left: -15vw;
    }
  }
}*/
/*# sourceMappingURL=index.css.map */